<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 style="text-align: center; text-decoration: underline;" class="mt-2">CHATROOMS</h1>
            
            <!-- <div *ngFor="let item of roomArray">
                <p>{{item.name}} - {{item.year}} - {{item.section}} <button (click)='individualRoom(item)'
                        class="btn btn-success">Join</button></p>

            </div> -->
            <div class="row">
                <h1 style="text-align: center;text-decoration: underline;" class="col-lg-4">Room Name</h1>
                    <h1 style="text-align: center; text-decoration: underline;" class="col-lg-4">Year and Section</h1>
                    <h1 style="text-align: center; text-decoration: underline;" class="col-lg-4">Action</h1>
            </div>
            <div *ngFor="let item of roomArray">
                <div class="row" style="text-align: center;">
                    <p class="col-lg-4">{{item.name}}</p>
                    <p class="col-lg-4">{{item.year}} - {{item.section}}</p>
                    <p class="col-lg-4"><button (click)='individualRoom(item)' mat-raised-button>Join</button></p>
                </div>
        
            </div>
            
        </div>
        <div class="col-lg-6">
            <app-announcement></app-announcement>
        </div>
    </div>
</div>